<div>
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Welcome {{current_session.local.username}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-if="vm.isAuthenticated">

        <stats number="1" comments="Competitions" colour="primary" type="bar-chart" goto="dashboard.home"></stats>
        <stats number="8" comments="Marks" colour="primary" type="line-chart" goto="dashboard.chart"></stats>
        <stats number="4" comments="Workouts" colour="yellow" type="sort-amount-asc" goto="dashboard.form"></stats>
        <stats number="2" comments="Monthly fees" colour="red" type="credit-card" goto="dashboard"></stats>
    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
