<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" ng-controller="ProfileCtrl">
    <!-- user card-->
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-0">
            <div class="thumbnail">
                <div class="user-card-image view view-first">
                    <a href="#" role="button"><img style="width: 100%"; src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/995652_1281317675215540_8954216431314320282_n.jpg?oh=6468b3516e63e5291f36dba0e7f1fa44&oe=57D75354" alt="Ruben Gomes">
                        <h2>Rúben Gomes</h2>
                    </a>
                    <div class="mask"></div>
                </div>
                    <div class="caption">
                    <div class="banner"></div>

                    <p> Athlete, 24 years old</p>
                    <h4>Phone Number</h4>
                    <p>915380845</p>
                    <h4>Nif</h4>
                    <p>218400691</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    <!--
    <div class="col-md-6 col-lg-6">
        <div class="user-card">
            <div class="user-card-image user-image">
                <div class="banner"></div>
                <h2>Rúben Gomes</h2>
            </div>
            <p> Athlete, 24 years old</p>
            <h4>Phone Number</h4>
            <p>915380845</p>
            <p>Nif - 218400691</p>


        </div>
    </div>
    -->
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
        <div style="text-align: center; padding-bottom: 20px;">
            <button class="btn btn-danger"><i class="fa fa-google-plus"></i> Connect Google</button>
            <button class="btn btn-primary"><i class="fa fa-facebook"></i> Connect Facebook</button>
        </div>
    </div>
</div>

